@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'RitaSmith';
    src: url('../assets/fonts/RitaSmith.otf');
}

@font-face {
    font-family: 'CupheadHenriette-A-merged';
    src: url('../assets/fonts/CupheadHenriette-A-merged.ttf');
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Alegreya Sans SC";
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Index*/
.bem-vindo {
    font-family: 'CupheadHenriette-A-merged';
    text-shadow: 2px 0 0 gray;
}

.corpo {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/imgs/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.overlay {
    position: relative;
    z-index: 1;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/imgs/overlay.gif') no-repeat;
    background-size: cover;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/imgs/overlay2.gif') no-repeat;
    background-size: cover;
    opacity: 0.1;
    pointer-events: none;
    z-index: 2;
}

.container-menu {
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Página sobre o site*/
.sobre-o-site {
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-o-site .div-sobre {
    padding: 30px;

    font-family: 'RitaSmith';

    height: 600px;
    width: 850px;

    background-image: url('../assets/imgs/card1.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}

.sobre-o-site .div-sobre h3 {
    font-size: 40px;
}

.sobre-o-site .div-sobre p {
    font-size: 25px;
}

.sobre-o-site .div-sobre p::first-letter {
    margin-left: 1em;
}

/*Cadastro e Login*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    width: 650px;
    height: 470px;
    background-image: url('../assets/imgs/card1.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card2 {
    width: 650px;
    height: 400px;

    background-image: url('../assets/imgs/card2.PNG');
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-titulo {
    font-family: 'RitaSmith';
    font-size: 40px;
    margin-bottom: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    font-weight: 700;
    margin: 5px;
}


.cadastro .container .formulario {
    margin: 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login .container .formulario {
    margin: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campo span {
    font-family: 'CupheadHenriette-A-merged';
    font-weight: 400;
    font-size: 15px;
    text-shadow: 2px 0 0 gray;
}

.campo input {
    border: 2px solid gray;
    outline: none;
}

.botao {
    margin-top: 15px;
    width: 100px;
    height: 30px;

    font-size: 15px;
    font-family: 'CupheadHenriette-A-merged';

    color: white;
    background-color: #d28652;

    padding: 5px;
    border: none;
    text-shadow: 2px 0 0 gray;

    transition: background-color 0.15s;
}

.botao:hover {
    cursor: pointer;
    background-color: #c05a3a;
}

/*Opções do Index*/
.opcoes {
    height: 50%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 30px;
    font-weight: 900;
}

.opcoes a {
    text-decoration: none;
    color: white;
    opacity: 0.4;
    text-shadow: 2px 0 0 gray;
    transition: opacity 0.15s;
}

.opcoes a:hover {
    opacity: 1;
}

/*Loading Div*/
.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

/*FORMULARIO - API*/

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/*Tela inicial pós login*/
.inicio {

    height: 100%;
    width: 100%;

    overflow: hidden;

    color: black;
}

.header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e9935b;
}

.header .container {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .ola {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: white;
}

.titulo {
    font-family: 'CupheadHenriette-A-merged';

    color: white;
    text-shadow: 4px 0 2px black;
}

.navbar {
    margin: 0;
    padding: 0;

    width: 350px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;

    font-weight: 800;

}

.header a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.788);

    transition: all 0.15s;
}

.header a:hover {
    cursor: pointer;

    color: #ae3528;
    font-size: 18px;
}

.agora a {
    color: #ae3528;
}

.inicio .corpo {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: none;
}

.banner {
    height: 500px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: right;

    background-image: url('../assets/imgs/banner-fundo.jpg');
    background-size: cover;
    background-position: center;

    border-bottom: 2px solid black;
}

.sobre {

    display: flex;
    justify-content: center;
    align-items: center;


    height: 800px;
}

.texto-sobre {
    width: 40%;

    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;

    padding: 10px;


    background-color: #e9935b;
}

.texto-sobre p::first-letter {
    margin-left: 1em;
}

.texto-sobre span {
    color: #ae3528;
}

.texto-sobre h3 {
    text-align: center;
}

.sobre2 {
    height: 500px;
    width: 100%;

    font-size: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sobre2 h3 {
    color: #ae3528;
}

.sobre2 .ilhas h3 {
    color: black;
}

.ilhas {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ilha {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem {
    height: 200px;
    width: 200px;

    border-radius: 50%;

}

.ilha1 {
    background-image: url('../assets/imgs/ilha-1.jpg');
    background-size: cover;
    background-position: center;
}

.ilha2 {
    background-image: url('../assets/imgs/ilha-2.webp');
    background-size: cover;
    background-position: center;
}

.ilha3 {
    background-image: url('../assets/imgs/ilha-3.webp');
    background-size: cover;

}

.sobre3 {
    height: 800px;
    width: 100%;

    font-size: 25px;
    color: #ae3528;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chefes {
    height: 100%;
    width: 90%;

    border: 2px solid red;
}

/*Tela de Quiz*/
#pontuacaoEJogo {
    height: 55.4em;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*Página do Fórum*/
.corpo-forum {
    height: 55.4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

.publicacoes {
    height: 800px;
    width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.publicacoes .container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.publicacoes .container input {
    width: 400px;

    padding: 15px;
}

.publicacoes .container textarea {
    width: 600px;
}

.publicacoes .container .botao {
    margin: 0;
    height: 40px;

    border-radius: 10px;
}

.div-results {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-container {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
}

.publicacao {
    width: 700px;
    height: 400px;


    margin-bottom: 20px;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 2px solid black;
    border-radius: 20px;
}

.publicacao .div-buttons {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-buttons button {
    width: 90px;
    height: 100%;

    font-weight: 800;
    color: white;

    background-color: #c05a3a;

    border: none;
    border-radius: 20px;

    transition: all 0.15s;

}

.div-buttons button:hover {
    cursor: pointer;

    font-size: 14px;
    background-color: #d28652;
}

.publicacao-nome {
    border-bottom: 2px solid #c05a3a;
}

.publicacao-titulo {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.publicacao-descricao {
    height: 30%;
    width: 90%;

    text-align: center;

    overflow-wrap: break-word;

    border: 2px solid #c05a3a;
}

#container_edicao {
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}